/* #photo {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
img {
    max-width: 400px;
    max-height: 200px;
    position: unset;
    margin: 0;
} 

#map {
    height: 300px;
    width: 300px;
    position: absolute;
    margin: 0;
    /* max-height: 600px; */
}

#hold {
    max-width: 600px;
    max-height: 600px;
    margin: 0;
}

#button {
    margin: 0;
}

h1 {
    font-size: 60px;
    color: blue;
    margin: 0;
}

body {
    background-image: url('https://i.imgur.com/7Z6SMJf.jpg');
    /* background-color: #cccccc; */
    /* opacity: 0.5; */
   }

p {
    font-size: 50 px;
    color: dodgerblue;
    margin: 0;
    text-align: center;
}
  /* .p {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  } */