/* #photo {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
img {
    max-width: 400px;
    max-height: 200px;
    position: unset;
} 

#map {
    height: 300px;
    width: 300px;
    position: absolute;
    /* max-height: 600px; */
}

#hold {
    max-width: 600px;
    max-height: 600px;
}
  /* .p {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  } */